body
{
    font-family: "Lucida Console", "Courier New", monospace;
    color:#7a0000;
    background-color: #3f0000;
}
.container
{
    background-color: #fffde9;
    margin: 50px;
    padding-bottom: 200px;
    padding: 20px;
}
.recipe
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}